/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

@custom-variant dark (&:where(.dark, .dark *));

@layer components {

    dt {
        @apply font-bold;
    }

    dl {
        @apply pt-2 pl-2 mb-2 space-y-4;
    }

    div.p-group {
        @apply p-2 space-y-2;
    }

    ul {
        @apply list-disc pl-6 mt-2 mb-2 space-y-1;
    }
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-items: center;
    flex: 0.6;
}

.intro-container {
    width: 100%;
    overflow: hidden;
}

.circle-image {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 2px solid var(--color-theme-1);
    float: left;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-text {
    line-height: 1.6;
    margin: 0;
    font-size: 1rem;
}
